In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/calumanderson/miniconda3/envs/MLTcw/lib/python3.9/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/calumanderson/miniconda3/envs/MLTcw/lib/python3.9/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/calumanderson/miniconda3/envs/MLTcw/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/calumanderson/miniconda3/envs/MLTcw/lib/python3.9/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/calumanderson/miniconda3/envs/MLTcw/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/calumanderson/miniconda3/envs/MLTcw/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
from pathlib import Path
import pandas as pd
import string

In [3]:
def getData():
    path = Path("mediaeval-2015-trainingset.txt") 
    #type = {"tweetId":pd.int64, "tweetText":pd.StringDtype, "userId":pd.int64, "imageId":pd.StringDtype, "username":pd.StringDtype, "timestamp":pd.Timestamp, "label":pd.StringDtype}
    return pd.read_csv(path, sep="\t")

In [4]:
tweets = getData()
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14277 entries, 0 to 14276
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweetId     14277 non-null  int64
 1   tweetText   14277 non-null  object
 2   userId      14277 non-null  int64
 3   imageId(s)  14277 non-null  object
 4   username    14277 non-null  object
 5   timestamp   14277 non-null  object
 6   label       14277 non-null  object
dtypes: int64(2), object(5)
memory usage: 780.9+ KB

In [5]:
display(tweets.iloc[1])

tweetId                                      262995061304852481
tweetText     @milenagimon: Miren a Sandy en NY!  Tremenda i...
userId                                                192378571
imageId(s)                                       sandyA_fake_09
username                                         CarlosVerareal
timestamp                        Mon Oct 29 19:11:23 +0000 2012
label                                                      fake
Name: 1, dtype: object

In [6]:
display(tweets[tweets['tweetId'] == 263067081593982976])

,tweetId,tweetText,userId,imageId(s),username,timestamp,label
96,263067081593982976,üò≥üèÉüí®üí®üí®üåäsharks in jersey!! #hurricane #sandy htt...,86768069,sandyA_fake_11,tonymonge1990,Mon Oct 29 23:57:34 +0000 2012,fake

In [7]:
def cleanData(text2):  
    text = text2.lower()
    alphabet = string.ascii_lowercase + ' ' + "'" + "." + string.digits
    
    
    
    text = " ".join(text.split('-'))
    
    
    length = len(text)
    prev = "null"
    for i in range(length):
        current = text[i]
        try:
            next = current[i+1]
        except:
            next = "null"
        if (prev not in string.digits) and (current == '.') and (next not in string.digits):
            text = text[0:i] + "!" + text[i+1:]
    
    text = ''.join([x for x in text if x in alphabet])
    return text

In [8]:
tweets["tweetText"] = tweets["tweetText"].astype("string")
tweets["tweetText"] = tweets["tweetText"].apply(cleanData)

In [9]:
display(tweets)

,tweetId,tweetText,userId,imageId(s),username,timestamp,label
0,263046056240115712,se acuerdan de la pelcula el da despus de maan...,21226711,sandyA_fake_46,iAnnieM,Mon Oct 29 22:34:01 +0000 2012,fake
1,262995061304852481,milenagimon miren a sandy en ny tremenda imag...,192378571,sandyA_fake_09,CarlosVerareal,Mon Oct 29 19:11:23 +0000 2012,fake
2,262979898002534400,buena la foto del huracn sandy me recuerda a l...,132303095,sandyA_fake_09,LucasPalape,Mon Oct 29 18:11:08 +0000 2012,fake
3,262996108400271360,scary shit hurricane ny httptcoe4jlbufh,241995902,sandyA_fake_29,Haaaaarryyy,Mon Oct 29 19:15:33 +0000 2012,fake
4,263018881839411200,my fave place in the world nyc hurricane sandy...,250315890,sandyA_fake_15,princess__natt,Mon Oct 29 20:46:02 +0000 2012,fake
...,...,...,...,...,...,...,...
14272,443231991593304064,bobombdom slaps tweetdeck with the pigfish htt...,2179310905,pigFish_01,Da_Vault_Hunter,Tue Mar 11 03: 48: 36 +0000 2014,fake
14273,443086239127076865,new species of fish found in brazil or just re...,254843101,pigFish_01,DjSituation_RC,Mon Mar 10 18: 09: 26 +0000 2014,fake
14274,442978105238753280,what do we call this pigfish http tco4bml62od15,2367553228,pigFish_01,Vivo1Vuyo,Mon Mar 10 10: 59: 45 +0000 2014,fake
14275,442753479782989824,pigfish e dopo il pescecane c' il pesce maial...,603120231,pigFish_01,CosimoTarta,Sun Mar 09 20: 07: 10 +0000 2014,fake
14276,442700377860104192,for those who can't decide between fish or mea...,25086784,pigFish_01,johnszim,Sun Mar 09 16: 36: 09 +0000 2014,fake

In [10]:
display(tweets[tweets['tweetId'] == 263067081593982976])

,tweetId,tweetText,userId,imageId(s),username,timestamp,label
96,263067081593982976,sharks in jersey hurricane sandy httptco4vqxylst,86768069,sandyA_fake_11,tonymonge1990,Mon Oct 29 23:57:34 +0000 2012,fake

In [12]:
display(tweets[tweets['tweetId'] == 262974742716370944])

,tweetId,tweetText,userId,imageId(s),username,timestamp,label
6381,262974742716370944,man sandy foreal httptcovewvxy10,183424929,sandyA_fake_29,vtintit,Mon Oct 29 17:50:39 +0000 2012,fake

In [15]:
tweets['imageId(s)'].value_counts()

imageId(s)
sandyA_fake_29    1100
sandyA_fake_42     712
sandyB_real_59     632
sandyA_fake_11     611
sandyB_real_71     561
                  ...
sandyA_real_46       1
sandyB_real_65       1
sandyB_real_39       1
boston_fake_25       1
sandyB_real_96       1
Name: count, Length: 377, dtype: int64